body
    margin: 0
    color: #fff
    background-color: #202020
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

.page
    overflow: hidden
    margin: 0

header
    width: 100%
    background-image: url('../../img/header.png')
    background-size: cover
    background-position: center
    // height: 1000px
    .content
        max-width: 1240px
        margin: 0 auto
        text-align: center
        // background-color: #fff
        .content__center-block
            padding-top: 250px
            h1
                max-width: 900px
                margin: 0 auto
                font-size: 55px
                padding: 60px 100px
                border: 1px solid rgba(255,255,255, .2)
                span
                    color: #f7ac53
            .content__center-block__items-link
                display: flex
                justify-content: center
                align-items: center
                margin-top: 10px
                h4
                    font-size: 13px
                    text-transform: uppercase
                    margin: 10px
                span
                    height: 16px
                    width: 1px
                    background-color: #f7ac53
                    opacity: .4
        .content__element-position
            display: flex
            justify-content: space-between
            align-items: center
            margin-top: 270px
            padding-bottom: 30px
            h2
                font-size: 24px
                font-weight: 600
                padding: 5px 12px
                border: 1px solid #f7ac53
                border-radius: 50%
                color: #f7ac53

            a
                font-size: 18px
                text-transform: uppercase
                color: #fff
                i
                    color: #f7ac53
                    padding-left: 5px
            .content__element-position__arrow-down-scroll
                margin-bottom: 100px
                margin-left: 110px
                i
                    color: #f7ac53
                    opacity: .6

.title-topic
    text-align: center
    max-width: 750px
    span
        display: block
        margin: 0 auto
        height: 125px
        width: 1px
        margin-bottom: 25px
        background-color: #feb960
        color: #fff
    h4
        font-size: 16px
        color: #feb960
        margin-bottom: 40px
    h1
        font-size: 40px
        line-height: 65px

.pre-section
    max-width: 1240px
    margin: 0 auto

.section
    width: 100%
    .section__pre-section
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        .section__pre-section__block-cards
            display: flex
            width: 100%
            justify-content: space-between
            align-items: center
            margin-top: 115px
            margin-bottom: 150px

.block-card
    max-width: 250px
    >i
        color: #feb960
        font-size: 14px
        margin-bottom: 24px
        padding: 8px
        border: 1px solid #feb960
    h2
        font-size: 30px
        font-weight: 600
        margin-bottom: 24px
    p
        font-size: 14px
        margin-bottom: 24px
        line-height: 27px
    a
        font-size: 14px
        font-weight: 600
        color: #fff
        text-transform: uppercase
        i
            color: #feb960
            margin-left: 6px

.slick-dots
    display: flex
    align-items: center
    justify-content: center
    padding: 0
    li

        margin: 0 10px
        list-style: none
        &.slick-active button
            background-color: #feb960
            border-color: #d49a4e
        button
            font-size: 0
            width: 30px
            height: 3px
            background-color: #5c5c5c
            border: 1px solid #3b3b3b
            border: none
            outline: none
            cursor: pointer
            transition: all 1.2s ease
        &:active
            transform: scale(1.2)

.slick-list
    overflow: hidden

.slick-track
    display: flex
    align-items: flex-start

.section
    .section__pre-section2
        max-width: 1300px
        margin: 0 auto
        // background-color: #eee
        .section__pre-section2__section-slider
            .section__pre-section2__section-slider__slider
                .section__pre-section2__section-slider__slider__slider-item
                    div
                        &:nth-child(2)
                            width: 75%
                            margin: 0 auto
                    .section__pre-section2__section-slider__slider__slider-item__project-number
                        position: absolute
                        top: 0
                        left: 0
                        user-select: none
                        span
                            display: block
                            width: 1px
                            height: 125px
                            background-color: #feb960
                            margin-bottom: 24px
                        h4
                            font-size: 14px
                            color: #feb960
                            text-transform: uppercase
                            margin-bottom: 24px
                            font-weight: 500
                        h1
                            font-size: 55px
                            font-weight: 500
                    .section__pre-section2__section-slider__slider__slider-item__project-details
                        position: absolute
                        right: 0
                        bottom: 0
                        // width: 10%
                        a
                            display: block
                            font-size: 14px
                            color: #fff
                            text-transform: uppercase
                            margin-bottom: 24px
                            i
                                margin-left: 7px
                                color: #feb960
                        span
                            display: block
                            width: 1px
                            height: 125px
                            background-color: #feb960
                            user-select: none
.section-slider
    max-width: 1300px
    margin: 0 auto
    .slider
        display: flex
        position: relative
        flex-direction: column
        .slider-item
            display: flex
            align-items: center
            flex-wrap: wrap
            .pic1
                background-image: url('../../img/slider1.jpg')
            .pic2
                background-image: url('../../img/slider2.jpg')
            .pic3
                background-image: url('../../img/slider3.jpg')
            .pic4
                background-image: url('../../img/slider4.jpg')
            .pic5
                background-image: url('../../img/slider5.jpg')
            .pic1,
            .pic2,
            .pic3,
            .pic4,
            .pic5
                background-position: center
                background-size: cover
                background-repeat: no-repeat
                height: 600px
                width: 100%
